@page "/"
<PageTitle>About Me</PageTitle>

<div style="display:flex;
margin-top: 2em;
     height:100%;
     width:100%;
     justify-content:center;
     align-items:center;">
    <MudAvatar Image="images/selfie.png" Style="height:30vw; width:30vw; font-size:2rem;" Class="mx-auto" />
</div>
<div style="display:flex;
     margin-top: 2em;   
     height:100%;
     width:100%;
     justify-content:center;
     align-items:center;">
    <MudText Typo="Typo.h3" GutterBottom="true">Marc Frankfurter</MudText>
</div>