@page "/testpage2"


<bg-text>Marc Frankfurter</bg-text>
<div style="height: 200vw;"></div>

<style>
    bg-text {
        font-family: arial;
        font-weight: bold;
        font-size: 12em;
        text-align: center;
        margin: 250px auto;
        text-transform: uppercase;
        background: url(https://img.freepik.com/free-vector/northern-cold-colours-lights-background_23-2148282711.jpg?w=2000&t=st=1659093947~exp=1659094547~hmac=0ba0663d52e79374795d590826a974b988638c78e45c9ba3cb7a16dd7c6bcac6);
        background-size: cover;
        background-attachment: fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


    }
</style>
@code {

}